html {
    font-size: 1.55em;
}

.contentbox.large {
    max-width: 50em;
    margin-bottom: 10em;
}



/* HEADER */

#start {
    padding-left: 3em;
    padding-right: 3em;
}



/* RECHTLICHES */
#disclaimer p,
#disclaimer span {
    font-size: smaller;
    opacity: .8;
}