@import "tailwindcss";
@import "./fonts.css";

@theme {
  --font-sans: "Poppins", sans-serif;

  --color-primary: #e32625;

  --color-sky: #89b1da;
  --color-paypal: #006fe0;
  --color-givio: #7db021;
}

html, body, #app {
  @apply size-full bg-black text-white text-base md:text-lg lg:text-xl;
}

h1 {
  @apply text-5xl;
}

h2 {
  @apply text-3xl uppercase;
}

h3 {
  @apply text-2xl;
}

h4 {
  @apply text-xl;
}

ul {
  @apply list-disc list-outside pl-[1em] space-y-1;
}

@utility aura {
  @apply relative before:content-[''] before:absolute before:-z-10 before:rounded-2xl before:blur-2xl;
  &::before {
    inset: var(--aura-inset, calc(var(--spacing) * -10));
    background-color: var(--aura-color, oklch(0 0 0 / 50%));
  }
}

@utility aura-* {
  --aura-opacity: calc(--modifier(integer) * 1%);
  --aura-color: --alpha(--value(--color-*, [color]) / var(--aura-opacity, 100%));
}

@utility aura-spread-* {
  --aura-inset: calc(--value(integer, [integer]) * var(--spacing) * -1);
  --aura-inset: calc(--value([length]) * -1);
}

@utility aura-hover {
  @apply aura before:opacity-0 before:transition-opacity hover:before:opacity-100 aura-spread-0;
}
