@import "tailwindcss";
@import "./fonts.css";

@theme {
  --font-sans: "Poppins", sans-serif;

  --color-sky: #89b1da;
  --color-primary: #e32625;
}

html, body, #app {
  @apply size-full bg-black text-white text-base md:text-lg lg:text-xl;
}

h1 {
  @apply text-5xl;
}

h2 {
  @apply text-3xl uppercase;
}

h3 {
  @apply text-2xl;
}

h4 {
  @apply text-xl;
}

@utility bg-blob {
  @apply relative before:content-[''] before:absolute before:-inset-10 before:-z-10 before:rounded-full before:bg-black/50 before:blur-2xl;
}

@utility bg-blob-sky {
  @apply relative before:content-[''] before:absolute before:-inset-10 before:-z-10 before:rounded-full before:bg-sky/65 before:blur-2xl;
}
