@import "tailwindcss";

@font-face {
  font-family: "BerlinTypeWeb";
  src: url("/fonts/BerlinTypeWeb-Regular.woff2") format("woff2"),
    url("./BerlinTypeWeb-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "BerlinTypeWeb";
  src: url("./BerlinTypeWeb-Bold.woff2") format("woff2"),
    url("./BerlinTypeWeb-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Fira Mono";
  src: url("./FiraMono-Regular.woff2") format("woff2"),
    url("./FiraMono-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@theme {
  --font-sans: "BerlinTypeWeb", sans-serif;

  --color-dark: #000000;
  --color-light: #ffffff;

  --color-sky: #89b1da;

  --color-cfa: #054a97;
  --color-cfa-alt: #2465cd;
}

html, body, #app {
  @apply size-full bg-dark text-light;
  font-size: 16pt;
}

h1 {
  @apply text-8xl;
}

h2 {
  @apply text-4xl uppercase;
}

h3 {
  @apply text-2xl;
}

h4 {
  @apply text-xl;
}

@utility bg-blob {
  @apply relative isolate before:content-[''] before:absolute before:-inset-10 before:-z-10 before:rounded-full before:bg-black/50 before:blur-xl;
}
