@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

@import "tailwindcss";

@theme {
  --font-sans: "Poppins", sans-serif;

  --color-sky: #89b1da;
  --color-primary: #fad324;
}

html, body, #app {
  @apply size-full bg-black text-white lg:text-[14pt];
}

h1 {
  @apply text-5xl;
}

h2 {
  @apply text-3xl uppercase;
}

h3 {
  @apply text-2xl;
}

h4 {
  @apply text-xl;
}

@utility section-container {
  @apply mx-auto w-full max-w-4xl space-y-4 px-4 py-4 text-justify md:px-8 lg:px-16;
}

@utility bg-blob {
  @apply relative before:content-[''] before:absolute before:-inset-10 before:-z-10 before:rounded-full before:bg-black/50 before:blur-2xl;
}

@utility bg-blob-sky {
  @apply relative before:content-[''] before:absolute before:-inset-10 before:-z-10 before:rounded-full before:bg-sky/65 before:blur-2xl;
}
