/* GLOBAL */

html {
    font-size: 1.5em;
}

.contentbox {
    max-width: 30em;
    margin-bottom: 5em;
}



/* HEADER */

#header-content {
    grid-template-columns: auto 1fr auto;
    grid-template-rows: 0 auto 1fr auto 1em;
    grid-template-areas:
        ". . ."
        "logo . ."
        ". . ."
        "aktuelles . social"
        ". . .";
}

.social {
    justify-content: flex-end;
    gap: 3em;
    flex-direction: column;
}

.social li {
    padding-left: 2em;
}

.social li:hover {
    padding-left: 2.5em;
}


.event-teasers {
    display: flex;
    place-items: flex-end;
}

.event-teaser {
    column-gap: 2em;
}

.event-teaser:nth-child(n+2) {
    margin-top: 3em;
}



/* WIR */

#wir-section {
    padding-left: 3em;
}

#wir-section .contentbox {
    margin-top: -8em;
}



/* BUCHEN */

#buchen {
    padding-left: 3em;
    padding-bottom: 11em;
}


/* SPENDEN */

.spendenlinks {
    flex-direction: row;
    gap: 5em;
}

.paypal-link {
    flex-direction: column;
    /* gap: 1em; */
    align-self: center;
    justify-self: center;
}

.paypal-logo {
    align-self: center;
    justify-self: center;
}